<head>
    <title> TestPage </title>
</head>
<h1> TestPage here</h1>
<!-- <form action="/getGenderRatio/" method="post"> {% csrf_token %}
    <button type="submit">getGenderRatio</button>
</form> -->

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<button onclick="javascript:getData()">getGenderRatio</button>

<script>
    function getData() {
        jQuery.ajax({
            method: "GET",
            url: "/ajax/genderRatio",
            success: function(data){
                alert(JSON.stringify(data));
            }
        })
    };
</script>



{% if GR %}
    {{ GR }}
{% endif %}

